:root {
  --headings-font: 'Manrope', sans-serif;
  --secondary-text: 'Open Sans', sans-serif;
  --bark-color: #0A2640;
}

body {
  margin: 0;
  height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5vw 6vw 0vw; 

}
.hero {
  display: row;
  max-height: 100vw;
}

header {
  display: flex;
  flex-direction: row;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 3vw 6vw 0;
  width: 100;
}

.content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

li {
  display: inline;
  margin: 0 15px;
  font-family: var(--secondary-text);
  font-size: 1.1vw;
}

a{
  color:var(--bark-color);
  text-decoration: none;
  font-weight: 600;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left{
  width: 45%;
}



.top {
  width: 32vw;
  margin: 0 0 2vh 0;
}

.bottom1 {
  width: 12.5vw;
  margin-right: 2vw;
}

.bottom2 {
  width: 17vw;
}

.logo {
  width: 10vw;
}

.logos {
  width: 70vw;
  margin: 60px 0;
}

h1 {
  font-family: var(--headings-font);
  font-weight: normal;
  font-size: 3vw;
  color: #000;
}

p {
  color: #fff;
  font-family: var(--secondary-text);
  color: #777777;
  font-size: 1vw;

}

.btn {
  border-radius: 22px;
  padding: 10px 30px;
  font-family: var(--secondary-text);
  cursor: pointer;
  border: 2px solid var(--bark-color);
  font-weight: 700;
  font-size: 1vw;
 
}

.btn-dark{
  background: var(--bark-color);
  color: #fff;
}
.btn-basic{
  background-color: #fff;
  color: var(--bark-color);
}

.btn:active {
  transform: scale(.9);
}
