:root {
  --headings-font: 'Manrope', sans-serif;
  --secondary-text: 'Open Sans', sans-serif;
  --dark-color: #0A2640;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100vh;
}

.light-them{
  background-color: #fff;
  color: var(--dark-color);
}

.dark-them, .dark-them h1, .dark-them p{
  background-color: var(--dark-color);
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

section{
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3vw 6vw 0vw; 
  

}
.hero {
  display: row;
  max-height: 100vw;
  padding: 0 6vw; 

}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 3vw 6vw 0;
  width: 100;
}

/* .container {
  width: 85%;
  margin: 0 auto;
} */

.content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

li {
  display: inline;
  margin: 0 15px;
  font-family: var(--secondary-text);
  font-size: 1.1vw;
}

a{
  color:var(--dark-color);
  text-decoration: none;
  font-weight: 600;
}

.left,
.right {
  width: 50;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content .left{
  width: 45%;
}

.buttons {
  align-self: start;
}


.top {
  width: 32vw;
  margin: 0 0 2vh 0;
}

.bottom1 {
  width: 12.5vw;
  margin-right: 2vw;
}

.bottom2 {
  width: 17vw;
}

.logo {
  width: 10vw;
}

.logos {
  width: 70vw;
  margin: 60px 0;
}

h1 {
  font-family: var(--headings-font);
  font-weight: normal;
  font-size: 3vw;
  color: #000;
}

p {
  color: #fff;
  font-family: var(--secondary-text);
  color: #777777;
}

.btn {
  border-radius: 22px;
  padding: 10px 30px;
  font-family: var(--secondary-text);
  cursor: pointer;
  border: 2px solid var(--dark-color);
  font-weight: 700;
  font-size: 1vw;
}

.btn-dark {
  background: var(--dark-color);
  color: #fff;
}
.btn-basic {
  background-color: #fff;
  color: var(--dark-color);
}
.btn-green {
  background-color: #65E4A3;
  color: var(--dark-color);
}

.btn:active {
  transform: scale(.9);
}

.pics {
  display: flex;
  flex-direction: row;
}

.card {
  margin: 4vw;
}

.pics img {
  width: 17vw;
}

.connect {
  display: flex;
  flex-direction: row;
}

.customer1, .customer2{
  min-height: 60rem;
  padding-bottom: 5rem;;
}
.connect p {
  color: var(--dark-color)
}

.customer1 .left, .customer2 .right{
  width: 80%;
  position: relative;
}

.income {
  position: absolute;
  bottom: 0;
  transform: translateY(55%);
  left: 35%;
}
.customer1 .right, .customer2 .left{
  width: 80%;
  justify-content: start;
  padding: 0 5rem;
  align-items: flex-start;
}

.pie{
  position: absolute;
  bottom: 0;
  transform: translateY(55%);
  right: 25%;
}

.check {
  width: 20px;
}

.customer2 p {
  width: 30rem;
  padding: 10px 30px;
  box-shadow:0 0 5px rgba(0,0,0,0.1);
}

.dark{
  background-color: var(--dark-color);
}
.btns .btn {
  border-radius: 50%;
}

.comments {
  display: flex;
  flex-direction: row;
}

.com {
  background-color: #fff;
  margin: 20px;
  width: 20rem;
  border-radius: 5%;
  height:fit-content;

}

.top, .top h1 {
  display: flex;
  flex-direction: row;  
  align-items: flex-end;
  width: 75%;
}


.avatar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem 2rem ;
}

.author{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3rem;
}

.person {
  margin-left: 1rem;;
}
.avatar img {
  width: 50px;
  height: 50px;
}

.avatar p, h3 {
  color: #000;
  background-color: #fff;
  font-family: var(--secondary-text);
  font-weight: 400;
  margin: 0;
}

h3{
  font-size: 24px;;
}
 .btns .btn{
  width: 3rem;
  height: 3rem;
  padding: 0;
} 

.text{
  display: flex;
  flex-direction: row;
  width: 80%;
  padding-top: 3rem;
}


.qustions{
   width: 90%;
   margin-left: 5rem;
}
.qustions p{
  color: #000;
}
.text h1{
  font-size: 42px; 
}
.blog p {
  color: #000;
}

.blog h1{
  width: 80%;

  text-align: center;
}
.blog .author img {
  width: 50px;;
  margin-right: 1rem ;
}

.category {
  font-family: var(--secondary-text);
  display: flex; 
  flex-direction: row;
  margin-top: 1rem;
}

.blog .card{
  margin-bottom: 2rem;
}


.date{
  font-weight: normal;
  margin-left: 1rem;
  color: #777777;
}

.last h1{
  width: 50%;
  text-align: center;
}

input {
  border-radius: 20px;
  margin:0;
  width: fit-content;
  border: 0;
  width: 300px;
  height: 2.4rem;
}

::placeholder{
  padding: 20px;
}

.email {
  display: inline-flex;
}

footer {
  display: inline-flex;

}

footer .left{
  align-items: flex-start;
  padding: 10rem;
  width: 20%;
}

footer .right {
  display: flex;
  flex-direction: row;
}

footer ul li:first-child {

  font-weight: bold;
}

footer ul li{
  display: flex;
  flex-direction: column;
  margin: 10px 0;

}
ul{
  margin: 0 60px;
  padding: 0;

}